{
    "parserOptions": {
        "ecmaVersion": 6
    },
    "env": {
        "browser": true
    },
    "extends" : [
        "eslint:recommended"
    ],
    // "rules": {
    //     "no-undef": "off"
    // }
    "rules": {
        "prefer-const" :"warn",
        "camelcase" :"error",
        "quotes": [2, "backtick"],
        "spaced-comment": "warn"
    }
}